`redirect_uri` checking is not spec compliant

According to the [spec](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) the server must fully match the given `redirect_uri`.

> REQUIRED. Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison). 

The [current implementation](https://github.com/juanifioren/django-oidc-provider/blob/v0.5.x/oidc_provider/lib/endpoints/authorize.py#L93) strips query parameters. This is non compliant and provides a potential security risk. 

I would suggest sticking to the specification, although this leads to backwards incompatible changes for users of this library.

Agree. Do You have any PR for that ? If not I will try to provide fix with #186  and ask @juanifioren to do security release.

Don't have a PR yet. Will prepare tomorrow.

OK. #191 addresses the issue. Maybe you can take a look at it @wojtek-fliposports.

checking...

Thank You for this great contribution. Merged