Client Secret is Stored in Plain text in the Database

Client secret is stored in plaintext in the database. As this is a secret and essentially the password for the client this should not be stored in plaintext. 

See [RFC6819 Section 5.1.4.1.3](https://datatracker.ietf.org/doc/html/rfc6819#section-5.1.4.1.3). This is inline with other IdPs available in the market, for example [Authelia](https://www.authelia.com/integration/openid-connect/frequently-asked-questions/#client-secret). 

```py
 client_secret = models.CharField(max_length=255, blank=True, verbose_name=_("Client SECRET"))
```

The ideal workflow would be something like follows:

1. Using the custom admin view, when creating a confidential client, the client secret is generated then hashed
2. The plaintext credential is provided briefly to the user as a once off to allow for extraction and secure communication to the relying party
3. The hashed and salted password is stored in the database.