parallel requests may reuse same authorization code

During the token exchange where an authorization code is exchanged for an access token and a refresh token, the same code can be used more than once. This happens if several requests are issued in parallel.

Authorization codes MUST be short lived and single-use, as described in [RFC6749, Section 10.5](https://datatracker.ietf.org/doc/html/rfc6749#section-10.5).